.h1 {
    font-size: 30px;
    align-items: center;
}

.label1 {
    font-size: 40px;
    align-items: center;
    margin-top: 2rem;
}

.btn {
    align-items: center;

}

.fontsize {
    font-size: 30px;
}

.weatherapp {
    font-size: 20px;
    align-items: center;
}

.randomimg {
    opacity: 0.5;
    max-width: 100%;
}

h2 {
    font-size: 40px;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}