.h1 {
    font-size: 30px;
    align-items: center;
}

.label1 {
    font-size: 40px;
    align-items: center;
    margin-top: 2rem;
}

.btn {
    align-items: center;

}

.fontsize {
    font-size: 30px;
}

.weatherapp {
    font-size: 20px;
    align-items: center;
}

.randomimg {
    opacity: 0.5;
    max-width: 100%;
}

 .heading {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.icon {
    align-items: flex-start;
    width: 60px;
    margin-top: 10px;
}


 .report {
        padding: 10px;
        flex: 20%;
        margin-top: 40px;
        background-color:rgb(93, 139, 244) ;
        font-size: 20px;
      }

  .place {
      text-align: center;
  } 
  
